# Data folders
data/

# Python temporary files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/
.env

# dbt artifacts
dbt/**/target/
dbt/**/dbt_packages/
dbt/**/logs/
dbt/**/.user.yml
logs/

# Docker local overrides
docker-compose.override.yml

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
